title: Spé HLP Philo
description: Documents des leçons de spécialité HLP philosophie, classes de Première et de Terùinale. Rolland Auda, La Condamine, Quito, Équateur.
theme: just-the-docs
baseurl: "/hlp" # the subpath of your site, e.g. /blog
url: https://rollauda.github.io
repository: rollauda/hlp # for github-metadata

aux_links:
  Cours-Auda: https://rollauda.github.io

# Enable or disable heading anchors
heading_anchors: true

# Footer content
# appears at the bottom of every page's main content

# Back to top link
back_to_top: true
back_to_top_text: "Back to top"

# Color scheme currently only supports "dark", "light"/nil (default), or a custom scheme that you define
color_scheme: gris

callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red

mermaid:
  # Version of mermaid library
  # Pick an available version from https://cdn.jsdelivr.net/npm/mermaid/
  version: "10.1.0"

  defaults:
  - scope:
      path: "assets/img"
    values:
      image: true
